<form name="editForm" id="editForm">
    <label class="edit-label" for="edit-especialidad">Especialidad:</label>
    <input type="text" id="edit-especialidad" ng-model="credentials.especialidad">
    <label class="edit-label" for="edit-telefono">Telefono:</label>
    <input type="text" id="edit-telefono" ng-model="credentials.telefono">
    <label class="edit-label" for="edit-mail">Correo electrónico:</label>
    <input type="text" id="edit-mail" ng-model="credentials.mail">
    <label class="edit-label" for="edit-twitter">Usuario de Twitter:</label>
    <input type="text" id="edit-twitter" ng-model="credentials.twitter">
    <label class="edit-label" for="edit-linkedin">Usuario de Linkedin:</label>
    <input type="text" id="edit-linkedin" ng-model="credentials.linkedin">
    <label class="edit-label" for="edit-ciudad">Ciudad:</label>
    <input type="text" id="edit-especialidad" ng-model="credentials.ciudad">
    <button type="submit" id="edit-submit">Guardar</button>
</form>