       <div id="interContainer">
        <h3>Sitios de interés</h3>
        <div id= "mapContainer">
            <div ng-app="mapsApp" ng-controller="mapa">
            <div id="map"></div>
            <!-- <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
            </div>-->
        </div>
        </div>
    </div>
    <div id="inBtnContainer">
    <table>
                <tr>
                    <td ><img class="tdIzq" onclick="initialize('plaza')" src="img/plaza-mayo.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('telmo')" src="img/san-telmo.jpg"></img></td>
                </tr>
                 <tr>
                    <td ><img class="tdIzq" onclick="initialize('boca')" src="img/la-boca.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('palermo')" src="img/palermo.jpg"></img></td>
                </tr>
                 <tr>
                    <td ><img class="tdIzq" onclick="initialize('recoleta')" src="img/recoleta.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('plata')" src="img/rio-plata.jpg"></img></td>
                </tr>
                <tr>
                    <td ><img class="tdIzq" onclick="initialize('obelisco')" src="img/obelisco.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('ateneo')" src="img/ateneo.jpg"></img></td>
                    
                </tr> 
                <tr>
                    <td ><img class="tdIzq" onclick="initialize('belgrano')" src="img/belgrano.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('madero')" src="img/puerto-madero.jpg"></img></td>
                </tr>
                
                <tr>
                    <td ><img class="tdIzq" onclick="initialize('monserrat')" src="img/monserrat.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('retiro')" src="img/retiro.jpg"></img></td>
                </tr>
                
                <tr>
                    <td ><img class="tdIzq" onclick="initialize('chino')" src="img/chino.jpg"></img></td>
                    <td ><img class="tdDer" onclick="initialize('parque')" src="img/parque-ciudad.jpg"></img></td>
                </tr>
                
                <tr>
                    <td ><img class="tdIzq" onclick="initialize('barolo')" src="img/barolo.jpg"></img></td>
                </tr>
    </table>
    </div>
    <div id="descripcionSite" style="display:none" >
        <div id="descripcionText">
            
        </div>
       <div id="btnVolverMenu" onclick="volverMenu()">
           <img id="imgFlechaIzq" src="img/flecha-izquierda.png"></img>
           <div id="volverText">
               <p>
                 Volver   
               </p>
           </div>
           
       </div>
    </div>